@import '../_common/variables.scss';

.weather-current {
   &__container {
      display: flex;
      align-items: center;
   }

   &__temperature {
      font-size: 7rem;
   }

   &__description {
      position: relative;
      bottom: $size-medium;
      padding-left: $size-large;
   }

}