$main_color : #8396B0;
$second_color: #FFA800;

$size_xlarge: 32px;
$size_large: 24px;
$size_medium: 16px;
$size_small: 8px;
$size_tiny: 4px;

@mixin center_content {
   display: flex;
   justify-content: center;
   align-items: center;
}